@CHARSET "UTF-8";
/************* #globalNav styles **************/
body {
	font-size: 10pt;
}

/************* #message styles **************/
.pageTitleMsg {
	font-size: 10pt;
	font-weight: bold;
}

.errMsg {
	color: red;
	font-size: 10pt;
	font-weight: bold;
}

/************* #table styles **************/
table {
	border-width: 0px;
}
table tr {
	font-size: 10pt;
}
table thead tr td {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}
table tr th {
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
	border: 0px solid black;
}
table.tbStyle tr td {
	/*border-bottom: 1px solid #000000;*/
}

/************* #control styles **************/
.readonly {
	background-color: gray;
	color: black;
}